/ - provide(:title, "マガジン")
/ h1 マガジン,
/ p
/ Get help on the Ruby on Rails Tutorial at the
/ a href="http://railstutorial.jp/help" Rails Tutorial help section
/ To get help on this sample app, see the
/ a href="http://railstutorial.jp"  em Ruby on Rails Tutorial
/ book

/ .container2 id="MOT"
/ 	.box

/ 		.codepen
/ 			.bg-hello.cp-big
/ 			.title2
/ 						h1.jjj Besyari
/ 			.hello
/ 				h1.jjj このアプリに登録したユーザーを見ることが出来ます。

/ 				button class="btnOpen" onclick="OpenMOT()" Check


/ 		.team
/ 			button class="btnClose" onclick="CloseMOT()"&times;

/ 			.data-for-thumbnail
/ 				.bg-header.av
/ 					.title2
/ 						h1.jjj がく
/ 						p.lll 20歳/肥満児

/ 				.about
/ 					h2.kkk About
/ 					p.lll 女の子が好き。

/ 				.social-media
/ 					.col-2
/ 						.tooltips.left@がく
/ 						a class="tw" href="https://twitter.com" target="blank_"

/ 					/.col-2
/ 					/	.tooltips.right@tsabat
/ 					/	a class="cp-link" href="https://codepen.io/tsabat" target="blank_"

/ 			.data-for-thumbnail
/ 				.bg-header.ts
/ 					.title2
/ 						h1.jjj もり
/ 						p.lll 21歳/男

/ 				.about
/ 					h2.kkk About
/ 					p.lll バイクが好きです。

/ 				.social-media
/ 					.col-2
/ 					.tooltips.left@もり
/ 					a class="tw" href="https://twitter.com" target="blank_"

/ 			.data-for-thumbnail
/ 				.bg-header.cp-big
/ 					.title2
/ 						h1.jjj Besyari
/ 						p.lll 登録ユーザー

/ 				.about
/ 					h2.kkk About
/ 					p.lll Besyariに登録したユーザープロフィールを確認することが出来ます。

/ 				.social-media
/ 					.col-2
/ 						.tooltips.right@Besyari
/ 						a class="tw" href="https://twitter.com" target="blank_"



/ 			.middle
/ 				button class="prev" onclick="prev(-1)"
/ 				button class="next" onclick="next(1)"
/ 				.people
/ 				.thumbnail_1
/ 					span class="cp"

/ 				.thumbnail_2
/ 					span class="ts"

/ 				.thumbnail_3
/ 					span class="av"
/ 					/.thumbnail_4
/ 					/　　span class="cc"
/ 					/.thumbnail_5
/ 					/　　span class="mm"
/ 					/.thumbnail_6
/ 					/　　span class="ja"
/ 					/.thumbnail_7
/ 					/　　span class="rs"
/ 					/.thumbnail_8
/ 					/　　span class="kf"

// This is not part of Pen
/a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank" style="color:#000"

//記事
/ .p-nav
/   ul
/     li
/       a href="リンク先URL"
/         img src="/assets/campain.png"
/         span.p-nav-title タイトル
/     li
/       a href="リンク先URL"
/         | 画像、もしくはFontAwesome
/         span.p-nav-title タイトル
/     li
/       a href="リンク先URL"
/         | 画像、もしくはFontAwesome
/         span.p-nav-title タイトル
/     li
/       a href="リンク先URL"
/         | 画像、もしくはFontAwesome
/         span.p-nav-title タイトル
/     li
/       a href="リンク先URL"
/         | 画像、もしくはFontAwesome
/         span.p-nav-title タイトル
/     li
/       a href="リンク先URL"
/         | 画像、もしくはFontAwesome
/         span.p-nav-title タイトル
/     li
/       a href="リンク先URL"
/         | 画像、もしくはFontAwesome
/         span.p-nav-title タイトル
/     li
/       a href="リンク先URL"
/         | 画像、もしくはFontAwesome
/         span.p-nav-title タイトル


.hidden_box
  label for="label1"
      img src="/assets/campain.png"
  input#label1 type="checkbox" /
  .hidden_show
    /! 非表示ここから
    / p
    /   img src="face.png" /
	ul.cam
      li.campan
	    a data-lightbox="group" href="/assets/T1.jpeg"
          img src="/assets/T1.jpeg" width="300" /
          span.p-nav-title ロゴTシャツ
      li.campan
	    a data-lightbox="group" href="/assets/T2.png"
          img src="/assets/T2.png" width="300" /
          span.p-nav-title バックロゴTシャツ
      li.campan
	    a data-lightbox="group" href="/assets/T3.png"
          img src="/assets/T3.png" width="300" /
          span.p-nav-title 就活天国Tシャツ
      li.campan
	    a data-lightbox="group" href="/assets/T4.jpeg"
          img src="/assets/T4.jpeg" width="300" /
          span.p-nav-title イエローver就活天国Tシャツ
