@import "bootstrap-sprockets";
@import "bootstrap";

 /* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  text-align:center;
  margin-bottom: 10px;
}

.jumbotron {
  background-image:url("logo1.jpeg");
  background-repeat:  no-repeat;
  background-position: center center;
  height: 600px;
  width:100%;
  padding-left: 30px;
}

// @media (min-width: 768px) {
//   .jumbotron {
//     background-image:url("logo1.jpeg");
//     background-repeat:  no-repeat;
//     background-position: center center;
//     height: 600px;
//     width:100%;
//     padding-left: 30px;
//   }
// }

// @media (min-width: 992px) {
//   .jumbotron {
//     background-image:url("logo1.jpeg");
//     background-repeat:  no-repeat;
//     background-position: center center;
//     height: 600px;
//     width:100%;
//     padding-left: 30px;
//   }
// }

// @media (min-width: 1200px) {
//   .jumbotron {
//     background-image:url("logo1.jpeg");
//     background-repeat:  no-repeat;
//     background-position: center center;
//     height: 600px;
//     width:100%;
//     padding-left: 30px;
//   }
// }

h1.sub {
  font-size: 2em;
  color: white;
  margin-top: 100px;
}

.btn-btn-lg-btn-primary {
  display: inline-block;
  //max-width: 180px;
  width: 300px;
  text-align: center;
  border: 2px solid #fbff02;
  //font-size: 16px;
  font-size: 20px;
  color: #fffb00;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-btn-lg-btn-primary:hover {
  background-color: #fffb00;
  border-color: #dacc0d;
  color: #181E26;
}

 /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: #777;
  margin-top: 100px;
  margin-bottom: 0em;
}

p.home {
  color: white;
  font-size: 15px;
}

  /* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }

#logo:hover {
  color: rgb(255, 251, 0);
  text-decoration: none;
}

.load {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-spinner {
  display: inline-block;
  padding: 20px;
}
.lds-spinner div {
  left: 21px;
  top: 27px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #fffc00;
  width: 158px;
  height: 2px;
  border-radius: 102%;
  -webkit-transform-origin: 79px 73px;
  transform-origin: 79px 73px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.980769230769231s;
  animation-delay: -0.980769230769231s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(6.923076923076923deg);
  transform: rotate(6.923076923076923deg);
  -webkit-animation-delay: -0.961538461538462s;
  animation-delay: -0.961538461538462s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(13.846153846153847deg);
  transform: rotate(13.846153846153847deg);
  -webkit-animation-delay: -0.942307692307692s;
  animation-delay: -0.942307692307692s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(20.76923076923077deg);
  transform: rotate(20.76923076923077deg);
  -webkit-animation-delay: -0.923076923076923s;
  animation-delay: -0.923076923076923s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(27.692307692307693deg);
  transform: rotate(27.692307692307693deg);
  -webkit-animation-delay: -0.903846153846154s;
  animation-delay: -0.903846153846154s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(34.61538461538461deg);
  transform: rotate(34.61538461538461deg);
  -webkit-animation-delay: -0.884615384615385s;
  animation-delay: -0.884615384615385s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(41.53846153846154deg);
  transform: rotate(41.53846153846154deg);
  -webkit-animation-delay: -0.865384615384615s;
  animation-delay: -0.865384615384615s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(48.46153846153846deg);
  transform: rotate(48.46153846153846deg);
  -webkit-animation-delay: -0.846153846153846s;
  animation-delay: -0.846153846153846s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(55.38461538461539deg);
  transform: rotate(55.38461538461539deg);
  -webkit-animation-delay: -0.826923076923077s;
  animation-delay: -0.826923076923077s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(62.30769230769231deg);
  transform: rotate(62.30769230769231deg);
  -webkit-animation-delay: -0.807692307692308s;
  animation-delay: -0.807692307692308s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(69.23076923076923deg);
  transform: rotate(69.23076923076923deg);
  -webkit-animation-delay: -0.788461538461538s;
  animation-delay: -0.788461538461538s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(76.15384615384616deg);
  transform: rotate(76.15384615384616deg);
  -webkit-animation-delay: -0.769230769230769s;
  animation-delay: -0.769230769230769s;
}
.lds-spinner div:nth-child(13) {
  -webkit-transform: rotate(83.07692307692308deg);
  transform: rotate(83.07692307692308deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(14) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.730769230769231s;
  animation-delay: -0.730769230769231s;
}
.lds-spinner div:nth-child(15) {
  -webkit-transform: rotate(96.92307692307692deg);
  transform: rotate(96.92307692307692deg);
  -webkit-animation-delay: -0.711538461538462s;
  animation-delay: -0.711538461538462s;
}
.lds-spinner div:nth-child(16) {
  -webkit-transform: rotate(103.84615384615384deg);
  transform: rotate(103.84615384615384deg);
  -webkit-animation-delay: -0.692307692307692s;
  animation-delay: -0.692307692307692s;
}
.lds-spinner div:nth-child(17) {
  -webkit-transform: rotate(110.76923076923077deg);
  transform: rotate(110.76923076923077deg);
  -webkit-animation-delay: -0.673076923076923s;
  animation-delay: -0.673076923076923s;
}
.lds-spinner div:nth-child(18) {
  -webkit-transform: rotate(117.6923076923077deg);
  transform: rotate(117.6923076923077deg);
  -webkit-animation-delay: -0.653846153846154s;
  animation-delay: -0.653846153846154s;
}
.lds-spinner div:nth-child(19) {
  -webkit-transform: rotate(124.61538461538461deg);
  transform: rotate(124.61538461538461deg);
  -webkit-animation-delay: -0.634615384615385s;
  animation-delay: -0.634615384615385s;
}
.lds-spinner div:nth-child(20) {
  -webkit-transform: rotate(131.53846153846155deg);
  transform: rotate(131.53846153846155deg);
  -webkit-animation-delay: -0.615384615384615s;
  animation-delay: -0.615384615384615s;
}
.lds-spinner div:nth-child(21) {
  -webkit-transform: rotate(138.46153846153845deg);
  transform: rotate(138.46153846153845deg);
  -webkit-animation-delay: -0.596153846153846s;
  animation-delay: -0.596153846153846s;
}
.lds-spinner div:nth-child(22) {
  -webkit-transform: rotate(145.3846153846154deg);
  transform: rotate(145.3846153846154deg);
  -webkit-animation-delay: -0.576923076923077s;
  animation-delay: -0.576923076923077s;
}
.lds-spinner div:nth-child(23) {
  -webkit-transform: rotate(152.30769230769232deg);
  transform: rotate(152.30769230769232deg);
  -webkit-animation-delay: -0.557692307692308s;
  animation-delay: -0.557692307692308s;
}
.lds-spinner div:nth-child(24) {
  -webkit-transform: rotate(159.23076923076923deg);
  transform: rotate(159.23076923076923deg);
  -webkit-animation-delay: -0.538461538461538s;
  animation-delay: -0.538461538461538s;
}
.lds-spinner div:nth-child(25) {
  -webkit-transform: rotate(166.15384615384616deg);
  transform: rotate(166.15384615384616deg);
  -webkit-animation-delay: -0.519230769230769s;
  animation-delay: -0.519230769230769s;
}
.lds-spinner div:nth-child(26) {
  -webkit-transform: rotate(173.07692307692307deg);
  transform: rotate(173.07692307692307deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(27) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.480769230769231s;
  animation-delay: -0.480769230769231s;
}
.lds-spinner div:nth-child(28) {
  -webkit-transform: rotate(186.92307692307693deg);
  transform: rotate(186.92307692307693deg);
  -webkit-animation-delay: -0.461538461538462s;
  animation-delay: -0.461538461538462s;
}
.lds-spinner div:nth-child(29) {
  -webkit-transform: rotate(193.84615384615384deg);
  transform: rotate(193.84615384615384deg);
  -webkit-animation-delay: -0.442307692307692s;
  animation-delay: -0.442307692307692s;
}
.lds-spinner div:nth-child(30) {
  -webkit-transform: rotate(200.76923076923077deg);
  transform: rotate(200.76923076923077deg);
  -webkit-animation-delay: -0.423076923076923s;
  animation-delay: -0.423076923076923s;
}
.lds-spinner div:nth-child(31) {
  -webkit-transform: rotate(207.69230769230768deg);
  transform: rotate(207.69230769230768deg);
  -webkit-animation-delay: -0.403846153846154s;
  animation-delay: -0.403846153846154s;
}
.lds-spinner div:nth-child(32) {
  -webkit-transform: rotate(214.6153846153846deg);
  transform: rotate(214.6153846153846deg);
  -webkit-animation-delay: -0.384615384615385s;
  animation-delay: -0.384615384615385s;
}
.lds-spinner div:nth-child(33) {
  -webkit-transform: rotate(221.53846153846155deg);
  transform: rotate(221.53846153846155deg);
  -webkit-animation-delay: -0.365384615384615s;
  animation-delay: -0.365384615384615s;
}
.lds-spinner div:nth-child(34) {
  -webkit-transform: rotate(228.46153846153845deg);
  transform: rotate(228.46153846153845deg);
  -webkit-animation-delay: -0.346153846153846s;
  animation-delay: -0.346153846153846s;
}
.lds-spinner div:nth-child(35) {
  -webkit-transform: rotate(235.3846153846154deg);
  transform: rotate(235.3846153846154deg);
  -webkit-animation-delay: -0.326923076923077s;
  animation-delay: -0.326923076923077s;
}
.lds-spinner div:nth-child(36) {
  -webkit-transform: rotate(242.30769230769232deg);
  transform: rotate(242.30769230769232deg);
  -webkit-animation-delay: -0.307692307692308s;
  animation-delay: -0.307692307692308s;
}
.lds-spinner div:nth-child(37) {
  -webkit-transform: rotate(249.23076923076923deg);
  transform: rotate(249.23076923076923deg);
  -webkit-animation-delay: -0.288461538461538s;
  animation-delay: -0.288461538461538s;
}
.lds-spinner div:nth-child(38) {
  -webkit-transform: rotate(256.15384615384613deg);
  transform: rotate(256.15384615384613deg);
  -webkit-animation-delay: -0.269230769230769s;
  animation-delay: -0.269230769230769s;
}
.lds-spinner div:nth-child(39) {
  -webkit-transform: rotate(263.0769230769231deg);
  transform: rotate(263.0769230769231deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(40) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.230769230769231s;
  animation-delay: -0.230769230769231s;
}
.lds-spinner div:nth-child(41) {
  -webkit-transform: rotate(276.9230769230769deg);
  transform: rotate(276.9230769230769deg);
  -webkit-animation-delay: -0.211538461538462s;
  animation-delay: -0.211538461538462s;
}
.lds-spinner div:nth-child(42) {
  -webkit-transform: rotate(283.84615384615387deg);
  transform: rotate(283.84615384615387deg);
  -webkit-animation-delay: -0.192307692307692s;
  animation-delay: -0.192307692307692s;
}
.lds-spinner div:nth-child(43) {
  -webkit-transform: rotate(290.7692307692308deg);
  transform: rotate(290.7692307692308deg);
  -webkit-animation-delay: -0.173076923076923s;
  animation-delay: -0.173076923076923s;
}
.lds-spinner div:nth-child(44) {
  -webkit-transform: rotate(297.6923076923077deg);
  transform: rotate(297.6923076923077deg);
  -webkit-animation-delay: -0.153846153846154s;
  animation-delay: -0.153846153846154s;
}
.lds-spinner div:nth-child(45) {
  -webkit-transform: rotate(304.61538461538464deg);
  transform: rotate(304.61538461538464deg);
  -webkit-animation-delay: -0.134615384615385s;
  animation-delay: -0.134615384615385s;
}
.lds-spinner div:nth-child(46) {
  -webkit-transform: rotate(311.53846153846155deg);
  transform: rotate(311.53846153846155deg);
  -webkit-animation-delay: -0.115384615384615s;
  animation-delay: -0.115384615384615s;
}
.lds-spinner div:nth-child(47) {
  -webkit-transform: rotate(318.46153846153845deg);
  transform: rotate(318.46153846153845deg);
  -webkit-animation-delay: -0.096153846153846s;
  animation-delay: -0.096153846153846s;
}
.lds-spinner div:nth-child(48) {
  -webkit-transform: rotate(325.38461538461536deg);
  transform: rotate(325.38461538461536deg);
  -webkit-animation-delay: -0.076923076923077s;
  animation-delay: -0.076923076923077s;
}
.lds-spinner div:nth-child(49) {
  -webkit-transform: rotate(332.3076923076923deg);
  transform: rotate(332.3076923076923deg);
  -webkit-animation-delay: -0.057692307692308s;
  animation-delay: -0.057692307692308s;
}
.lds-spinner div:nth-child(50) {
  -webkit-transform: rotate(339.2307692307692deg);
  transform: rotate(339.2307692307692deg);
  -webkit-animation-delay: -0.038461538461538s;
  animation-delay: -0.038461538461538s;
}
.lds-spinner div:nth-child(51) {
  -webkit-transform: rotate(346.15384615384613deg);
  transform: rotate(346.15384615384613deg);
  -webkit-animation-delay: -0.019230769230769s;
  animation-delay: -0.019230769230769s;
}
.lds-spinner div:nth-child(52) {
  -webkit-transform: rotate(353.0769230769231deg);
  transform: rotate(353.0769230769231deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

  /* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

.jjj,.kkk,.lll{margin:0;padding:0}

.btnClose{border:none;cursor:pointer;font-size:15px}

.btnClose,.kkk{color:#fff}
.jjj{color:#fcd000;font-size:18px}
.kkk{font-size:16px}

.lll,.tooltips{font-size:14px}

.codepen,
.team{
	background:#000;
	overflow:hidden;
	border-radius:10px;
	backface-visibility:hidden;
	box-shadow:0 8px 6px -6px #000
}

.col-2 a,
[class*=thumbnail] span{
	background-size:32px 32px;
	width:32px;
	height:32px;
	border-radius:50%
}

.cp-big{background:url("earth.jpg")no-repeat center}

.cp{background:#000 url("tablebell.png")no-repeat center}

.ts{background:url("mori.jpg")no-repeat center}

//.av{background:url("gaku.jpg")no-repeat center}

.cc{background:url("https://static.codepen.io/assets/about/about-chriscoyier-79cbe777c11e0c1f3150fa6ba8983a29745226b0dc9d2f7bf4f7214ac891b931.jpg")no-repeat center}

.mm{background:url("https://static.codepen.io/assets/about/about-mariemosley-c915a6b18901329df2eed3cb634cf7683cd01e73de038b89f8d3d7f0ae632646.jpg")no-repeat center}

.ja{background:url("https://static.codepen.io/assets/about/about-jakealbaugh-ffb1e1d4a5ad6e6f78d9730ca00ccf09fea1be7afd69bce10c0ed15450e06c8c.jpg")no-repeat center}

.rs{background:url("https://static.codepen.io/assets/about/about-rachelsmith-28c8885b4e02e35acc4f702846e794e975791c07de81da0be8d7d78fa310299f.jpg")no-repeat center}

.kf{background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83959/profile/profile-512.jpg?1522341927")no-repeat center}

.tw{background:url("https://image.flaticon.com/icons/png/128/145/145812.png")no-repeat center}

.cp-link{background:url("https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-White-Small.png")no-repeat center}

.container2{
	width:250px;
	height:400px;
	top:50%;
	left:50%;
	display:block;
	position:absolute;
	perspective:100%;
	transform:translate(-50%,-50%)
}

.box{
	width:100%;
	height:100%;
	display:block;
	position:relative;
	transform:rotateY(0deg);
	transform-style:preserve-3d;
	transition:all 1s ease
}

.codepen{
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	transform:translate3d(0,0,125px)
}

.bg-hello,
.hello{
	width:100%;
	height:50%;
	display:block;
	position:relative;
	float:left
}

.bg-hello{background-size:contain;border-radius:10px 10px 0 0}

.hello{padding:48px 16px 0 16px;text-align:center;border-radius:0 0 10px 10px}

.btnOpen{
	background:linear-gradient(45deg,#f1ff2d,#fdffa3);
	margin:16px 0 0 0;
	padding:14px;
	border-radius:5px;
	transition:all .3s ease;
	box-shadow:0 8px 8px -8px #fff
}

.btnOpen:hover{transform:translateY(4px);box-shadow:none}

.team{
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	transform:rotateY(180deg) translate3d(0,0,125px)
}

.team:hover .btnClose{display:block}

.btnClose{
	background:rgba(255,0,0,.5);
	margin:10px 10px 0 0;
	padding:8px 10px;
	display:none;
	float:right;
	border-radius:5px
}

.data-for-thumbnail{
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	border-radius:10px;
	z-index:-1;
	animation:fade 1.5s ease
}

@keyframes fade{
	from{opacity:0}
	to{opacity:1}
}

.bg-header{
	background-size:cover;
	width:100%;
	height:180px;
	top:0;
	display:block;
	position:absolute;
	border-radius:10px 10px 0 0
}

.bg-header:before{
	background:rgba(0,0,0,.4);
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	content:"";
	border-radius:10px 10px 0 0
}

.title2{
	width:100%;
	padding:0 8px;
	top:50%;
	display:block;
	position:absolute;
	text-align:center;
	transform:translate(0,-50%)
}

.title2 .lll{color:#1ae1ff}

.about{
	background:#111;
	width:100%;
	height:140px;
	padding:8px 16px;
	top:220px;
	display:block;
	position:absolute
}

.about:before{
	background:#fff;
	width:6px;
	height:6px;
	top:17px;
	left:5px;
	display:block;
	position:absolute;
	content:"";
	border-radius:50%
}

.about .lll{color:#b6b6b6}

.social-media{
	width:100%;
	height:40px;
	padding:4px 0;
	bottom:0;
	display:block;
	position:absolute;
	border-radius:0 0 10px 10px
}

.col-2{
	width:50%;
	height:32px;
	display:block;
	position:relative;
	float:left
}

.col-2:hover .tooltips{display:block}

.col-2 a{margin:auto;display:block;position:relative}

.tooltips{
	background:#fff;
	padding:8px;
	top:-42px;
	display:none;
	position:absolute;
	z-index:1;
	border-radius:5px
}

.tooltips:before{
	background:transparent;
	width:10px;
	bottom:-6px;
	display:block;
	position:absolute;
	content:"";
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:10px solid #fff
}

.tooltips.left{left:59px}
.tooltips.left:before{left:0}
.tooltips.right{right:59px}
.tooltips.right:before{right:0}

.middle{
	background:linear-gradient(45deg,#3f5efb,#fc466b);
	width:100%;
	height:40px;
	top:50%;
	display:block;
	position:absolute;
	perspective:100%;
	transform:translate(0,-50%)
}

.middle:before{
	background:#000;
	width:40px;
	height:40px;
	left:50%;
	display:block;
	position:absolute;
	content:"";
	border-radius:50%;
	transform:translate(-50%,0)
}

.middle button{
	background:transparent;
	width:20px;
	top:10px;
	display:block;
	position:absolute;
	z-index:1;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
}

.prev{left:60px;border-right:20px solid #000}

.next{right:60px;border-left:20px solid #000}

.people{
	background:transparent;
	width:210px;
	height:100%;
	left:20px;
	display:block;
	position:absolute;
	transform-style:preserve-3d;
	transition:all 1s ease
}

[class*=thumbnail]{
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	backface-visibility:hidden
}

.thumbnail_1{transform:rotateY(0deg) translateZ(180px)}
.thumbnail_2{transform:rotateY(45deg) translateZ(180px)}
.thumbnail_3{transform:rotateY(90deg) translateZ(180px)}
.thumbnail_4{transform:rotateY(135deg) translateZ(180px)}
.thumbnail_5{transform:rotateY(180deg) translateZ(180px)}
.thumbnail_6{transform:rotateY(225deg) translateZ(180px)}
.thumbnail_7{transform:rotateY(270deg) translateZ(180px)}
.thumbnail_8{transform:rotateY(315deg) translateZ(180px)}

[class*=thumbnail] span{
	margin:4px auto;
	display:block;
	position:relative;
	border:2px solid #fff
}

.rotate-box .box{transform:rotateY(-180deg)}



/* Users index */

.users {
  list-style: none;
  margin: 0;
  .allus {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


.box2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.text1 {
  width: 100%;
  text-align: center;
}
h3.phot2 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin: 25px;
}
p.phot3 {
  font-size: 20px;
  line-height: 40px;
  color: black;
}
.pict2 {
  width: 100%;
  text-align: center;
  min-height: 0%;
  margin-bottom: 15px;
}
.pict2 img {
  max-width: 980px;
  height: auto;
}

.shinki {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
p.home1 {
  color: black;
  font-size: 15px;
}
.btn-btn-lg-btn-primary1 {
  display: inline-block;
  //max-width: 180px;
  width: 300px;
  text-align: center;
  font-size: 16px;
  font-size: 20px;
  color: rgb(24, 30, 38);
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(24, 30, 38);
  border-image: initial;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.4s ease 0s;
}
.btn-btn-lg-btn-primary1:hover {
  background-color: #fffb00;
  border-color: #dacc0d;
  color: #181E26;
}

h3.phot3 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin: 25px;
}
.img-flex-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box1 {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
}
h3.phot {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}
p.phot1 {
  font-size: 14px;
  line-height: 20px;
  color: black;
  margin-top: 15px;
}
.pict {
  width: 100%;
  text-align: center;
  min-height: 0%;
  margin-bottom: 15px;
}
.pict img {
  max-width: 300px;
  height: auto;
}

.faq{
  background: #F6F6F6;
  padding: 1em;
  border-radius: 1em;
}
.faq dt{
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted;
  font-weight: bold;
}
.faq dt:before{
  content: "Q";
  font-weight: normal;
  background: #fbff00;
  color: #181E26;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6;
  text-align: center;
  display: inline-block;
  border-radius: 1em;
  margin-right: .5em;
}
.faq dd{
  margin-bottom: 2em;
}
.faq dd:last-child{
  margin-bottom: 0;
}

.campain img {
  max-width: 150px;
  height: auto;
  position:absolute;
  margin-left: 10px;
  margin-top: -100px;
}


/************************************
** ボックスナビ
************************************/
// .p-nav{
//   margin:2em 0;/* 全体外余白 */
//   padding:0;/* 全体内余白 */
//   }
//   .p-nav ul{
//   display:-webkit-box;
//   display:-ms-flexbox;
//   display:flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   list-style:none;
//   margin:0;
//   padding:0;
//   border:none;
//   }
//   .p-nav ul li{
//   -ms-flex-preferred-size: calc(100%/4);/* 4列 */
//   flex-basis: calc(100%/4);/* 4列 */
//   margin:0;
//   padding:0;
//   text-align:center;
//   box-shadow: inset 1px 1px 0 0 #e0ddd1, 1px 1px 0 0 #e0ddd1, 1px 0 0 0 #e0ddd1;/* 罫線 */
//   display:-webkit-box;
//   display:-ms-flexbox;
//   display:flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: reverse;
//   -ms-flex-direction: column-reverse;
//   flex-direction: column-reverse;
//   min-height:100px;/* 最低の高さ */
//   cursor:pointer;
//   background:#fff;/* 背景色 */
//   }
//   .p-nav ul li:hover{
//   z-index:2;
//   box-shadow: inset 2px 2px 0 0 #f6a068, 2px 2px 0 0 #f6a068, 2px 0 0 0 #f6a068, 0 2px 0 0 #f6a068;/* 罫線(マウスホバー) */
//   transition: 0.35s ease-in-out;
//   }
//   .p-nav ul li:before{
//   content:unset !important;
//   }
//   .p-nav ul li a{
//   display:block;
//   padding: 0.5em 1em;/* 内余白 */
//   text-decoration:none;
//   width:100%;
//   }
//   .p-nav ul li a:hover{
//   background:none;
//   opacity:1;
//   }
//   .p-nav ul li a img{
//   max-width:50% !important;/* 画像横幅 */
//   height: auto !important;
//   filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.1));/* 画像影 */
//   display: inline-block;
//   }
//   .p-nav .p-nav-title{
//   display: block;
//   color: #666;/* 文字色 */
//   font-size: 0.7em;/* 文字大きさ */
//   letter-spacing: 1px;
//   font-weight: 600;/* 文字太さ */
//   text-align: center;
//   line-height: 1.5;/* 文字行間高さ */
//   }
//   /* サイドバー */
//   .sidebar .p-nav ul li{
//   -ms-flex-preferred-size: calc(100%/2);/* 2列 */
//   flex-basis: calc(100%/2);/* 2列 */
//   }
//   /* スマホ */
//   @media screen and (max-width: 559px) {
//     .p-nav ul li{
//       -ms-flex-preferred-size: calc(100%/2);/* 2列 */
//       flex-basis: calc(100%/2);/* 2列 */
//     }
//   }
//   /* fontawesome */
//   .p-nav ul li a i,.p-nav ul li a svg{
//   font-size: 40px;/* アイコン大きさ */
//   padding: 10px 0;/* アイコン余白 */
//   color: #f6a068;/* アイコン色 */
//   display:inline-block;
//   }
//   /* fontawesome(2番目) */
//   .p-nav ul li:nth-of-type(2) a i,.p-nav ul li:nth-of-type(2) a svg{
//   color:#f6a068;/* アイコン色 */
//   }
//   /* fontawesome(3番目) */
//   .p-nav ul li:nth-of-type(3) a i,.p-nav ul li:nth-of-type(3) a svg{
//   color:#f6a068;/* アイコン色 */
//   }
//   /* fontawesome(4番目) */
//   .p-nav ul li:nth-of-type(4) a i,.p-nav ul li:nth-of-type(4) a svg{
//   color:#f6a068;/* アイコン色 */
//   }

/*キャンペーン*/
.hidden_box {
  text-align: center;
  margin: 2em auto 2em;/*前後の余白*/
  padding: 10px;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

li.campan img {
  width: 200px;
}

//tシャツ
ul.cam {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style:none;
  margin:0;
  padding:0;
  border:none;
}
ul.cam li.campan {
  -ms-flex-preferred-size: calc(100%/4);/* 4列 */
  flex-basis: calc(100%/4);/* 4列 */
  margin:0;
  padding:0;
  text-align:center;
  box-shadow: inset 1px 1px 0 0 #e0ddd1, 1px 1px 0 0 #e0ddd1, 1px 0 0 0 #e0ddd1;/* 罫線 */
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  min-height:100px;/* 最低の高さ */
  cursor:pointer;
  background:#fff;/* 背景色 */
}
ul.cam li.campan:hover {
  z-index:2;
  box-shadow: inset 2px 2px 0 0 #ffee00, 2px 2px 0 0 #ffee00, 2px 0 0 0 #ffee00, 0 2px 0 0 #ffee00;/* 罫線(マウスホバー) */
  transition: 0.35s ease-in-out;
}
ul.cam li.campan:before {
  content:unset !important;
}
ul.cam li.campain a {
  display:block;
  padding: 0.5em 1em;/* 内余白 */
  text-decoration:none;
  width:100%;
}
ul.cam li.campan a:hover {
  background:none;
  opacity:1;
}
ul.cam li.campan a img {
  max-width:50% !important;/* 画像横幅 */
  height: auto !important;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.1));/* 画像影 */
  display: inline-block;
}
span.p-nav-title {
  display: block;
  color: #666;/* 文字色 */
  font-size: 0.7em;/* 文字大きさ */
  letter-spacing: 1px;
  font-weight: 600;/* 文字太さ */
  text-align: center;
  line-height: 1.5;/* 文字行間高さ */
}

/* スマホ */
@media screen and (max-width: 559px) {
  ul.cam li.campain {
    -ms-flex-preferred-size: calc(100%/2);/* 2列 */
    flex-basis: calc(100%/2);/* 2列 */
  }
}
/* fontawesome */
ul.cam li.campain a i, ul.cam li.campain a svg{
  font-size: 40px;/* アイコン大きさ */
  padding: 10px 0;/* アイコン余白 */
  color: #f6a068;/* アイコン色 */
  display:inline-block;
}
/* fontawesome(2番目) */
ul.cam li.campain:nth-of-type(2) a i,ul.cam li.campain:nth-of-type(2) a svg{
  color:#f6a068;/* アイコン色 */
}
/* fontawesome(3番目) */
ul.cam li.campain:nth-of-type(3) a i,ul.cam li.campain:nth-of-type(3) a svg{
  color:#f6a068;/* アイコン色 */
}
/* fontawesome(4番目) */
ul.cam li.campain:nth-of-type(4) a i,ul.cam li.campain:nth-of-type(4) a svg{
  color:#f6a068;/* アイコン色 */
}

.campain2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


//登録・変更ボタン
// input[type="submit"] {
//   display: inline-block;
//   max-width: 180px;
//   text-align: left;
//   border: 2px solid #fbff02;
//   font-size: 16px;
//   color: #fffb00;
//   text-decoration: none;
//   font-weight: bold;
//   padding: 8px 16px;
//   border-radius: 4px;
//   transition: .4s;
//   text-align: center;
// }

// input[type="submit"]:hover {
//   background-color: #fffb00;
//   border-color: #dacc0d;
//   color: #181E26;
// }